.chronicle {
  margin-bottom: 0;
  padding-left: 0;
  padding-top: 30px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.chronicle-post {
  max-width: calc(100% / 2 - 15px);
  flex-basis: calc(100% / 2 - 15px);
}

.chronicle-title {
  min-height: 47px;
  margin: 0 0 15px;
  text-align: center;
  font-size: 18px;
}

.chronicle-media {
  margin-bottom: 15px;
  text-align: center;
}

.chronicle-meta {
  margin-bottom: 10px;
  font-size: 14px;
  color: #777;
  .clock {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    margin-bottom: 5px;
    fill: #777;
    vertical-align: middle;
  }
}

.chronicle-text {
  margin-bottom: 0;
}

.chronicle-all {
  margin-top: 30px;
  font-size: 18px;
  .btn {
    width: 100%;
  }
}
