.contacts {
  display: flex;
}

.contacts-block {
  max-width: calc(100% / 3);
  flex-basis: calc(100% / 3);
  &:not(:first-of-type):not(:last-of-type) {
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
  }
}

.contacts-info {
  padding: 125px 20px 45px 0;
  line-height: 2.1;
}

.contacts-block-title {
  margin-bottom: 45px;
  text-transform: uppercase;
  font-size: 16px;
  color: #0086c9;
  @include GeometriaBold;
}

.contacts-order {
  padding: 60px 40px 125px 50px;
  position: relative;
  .btn {
    position: absolute;
    bottom: 37px;
    left: 50px;
    padding: 19px 36px;
    letter-spacing: 2px;
  }
  a {
    border-bottom: 0;
  }
}

.contacts-phone {
  margin-top: 10px;
  a {
    color: #222222;
  }
}
