footer {
  background-color: #0086c9;
  color: #fff;
}

.consultation {
  padding-top: 135px;
  padding-bottom: 80px;
  border-bottom: 1px solid #fff;
}

.consultation-title {
  margin-bottom: 30px;
  font-size: 24px;
  letter-spacing: 2.3px;
}

.consultation-form {
  position: relative;
}

.footer-bottom {
  padding: 90px 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom-text {
  margin-right: 35px;
  color: #a0d1f3;
}

.copy {
  font-size: 13px;
}

.socials {
  display: flex;
  align-items: center;
  li:not(:first-child) {
    margin-left: 22px;
  }
  a {
    text-indent: -9999px;
    overflow: hidden;
  }
}


