header {
  padding-top: 40px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.logo {
  border-bottom: 0;
}

.header-support-info {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    border-radius: 50%;
    box-shadow: 0 13px 39px 5px rgba(0, 134, 201, .48);
  }
}

.header-support-phone {
  font-size: 30px;
  color: #2e2e2e;
  border-bottom: 0;
}

.header-support-orders {
  padding-top: 15px;
  .support-orders-item {
    font-size: 15px;
    text-transform: uppercase;
    @include GeometriaBold;
    &:first-of-type {
      margin-right: 15px;
    }
  }
}
