header {
  height: 630px;
  padding-top: 175px;
  text-align: center;
  background: url(../img/bg-header.jpg) no-repeat center bottom;
  box-shadow: 0 0 32px rgba(#464646, .5);
}

.header-title {
  color: #ffffff;
  font-size: 72px;
  line-height: 1.3;
  font-family: 'Triodion-Ucs', Helvetica, Arial, sans-serif;
  font-weight: normal;
}

.header-button {
  .btn-orange {
    display: inline-flex;
    align-items: center;
    font-size: 16px;
  }
  .papyrus {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    fill: #ffffff;
  }
}
