.live-broadcast {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
}

.live-broadcast-left {
  width: 50%;
  padding-top: 55px;
}

.live-broadcast-date {
  font-size: 15px;
  color: #8dc9f3;
}

.live-broadcast-right {
  width: 50%;
  padding-left: 80px;
  img {
    border-radius: 50%;
  }
}
