.nav-menu {
  width: 100%;
  z-index: 99;
  background-color: #fff;
  margin-bottom: 20px;
  border-top: 2px solid #acd6f3;
  box-shadow: 0 19px 20px rgba(#0b5d7d, .18);
  @include transition(all, ease);
}

.menu {
  text-transform: uppercase;
  list-style: none;
  @include GeometriaBold;
  li {
    position: relative;
    &:not(.active) {
      a:hover, a:focus {
        color: #008ed3;
      }
    }
  }
  a {
    color: #2e2e2e;
    border-bottom: 0;
  }
  .active {
    &:first-child {
      padding-right: 30px;
    }
    &:last-child {
      padding-left: 30px;
    }
    a {
      padding: 12px 30px 10px;
      color: #fff;
      background-color: #008ed3;
      display: inline-block;
      border-radius: 30px;
      cursor: default;
    }
  }
}

