.nav-menu {
  margin-bottom: 20px;
  border-top: 2px solid #acd6f3;
  box-shadow: 0 19px 20px rgba(#0b5d7d, .18);
}

.menu {
  height: 85px;
  margin-bottom: 0;
  font-size: 20px;
  text-transform: uppercase;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  @include GeometriaBold;
  li {
    position: relative;
    &:not(:first-child):not(:last-child):not(.active) a {
      padding: 0 56px;
    }
    &:not(:last-child)::after {
      width: 3px;
      height: 38px;
      top: 50%;
      right: 0;
      margin-top: -19px;
      background-color: #008ed3;
      position: absolute;
      content: '';
      transform: rotateZ(33deg);
    }
    &:first-child:not(.active) a {
      padding-right: 56px;
    }
    &:last-child:not(.active) a {
      padding-left: 56px;
    }
    &:not(.active) {
      a:hover, a:focus {
        color: #008ed3;
      }
    }
  }
  a {
    color: #2e2e2e;
    border-bottom: 0;
  }
  .active {
    &:not(:first-child):not(:last-child) {
      padding-left: 26px;
      padding-right: 26px;
    }
    &:first-child {
      padding-right: 26px;
    }
    &:last-child {
      padding-left: 26px;
    }
    a {
      padding: 12px 30px 10px;
      color: #fff;
      background-color: #008ed3;
      display: inline-block;
      border-radius: 30px;
      cursor: default;
    }
  }
}
