.reviews {
  padding-top: 70px;
  padding-bottom: 73px;
  position: relative;
  background-color: #f5f7f9;
  display: flex;
  justify-content: space-between;
}

.reviews-item {
  padding-top: 33px;
  position: relative;
  &::before {
    width: 20px;
    height: 16px;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/spritesheet.png) no-repeat -29px -5px;
  }
}

.reviews-text {
  margin-bottom: 10px;
  color: #404553;
  line-height: 1.5;
}

.reviews-user {
  display: flex;
  align-items: center;
}

.reviews-avatar {
  width: 56px;
  height: 56px;
  margin-right: 15px;
  position: relative;
  img {
    position: relative;
    z-index: 5;
    border-radius: 50%;
  }
}

.reviews-avatar-default {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 58px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  z-index: 3;
  background-color: #19b5fe;
}

.reviews-user-name {
  font-size: 18px;
}
