@import 'lib/breakpoint';
@import 'lib/breakpoint-slicer';
@import 'lib/bootstrap';
/* common */
@import "common/mixin";
@import "common/fonts";
@import "common/common";
@import "common/btn";
@import "common/form";
/* blocks */
@import "blocks/main-slider";
@import "blocks/header";
@import "blocks/menu";
@import "blocks/breadcrumbs";
@import "blocks/about-us";
@import "blocks/faq";
@import "blocks/reviews";
@import "blocks/news";
@import "blocks/persona";
@import "blocks/contacts";
@import "blocks/footer";

.navbar-toggle {
  padding: 15px;
  background-color: #2698f0;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  &::before {
    width: 20px;
    height: 1px;
    margin-right: 20px;
    content: '';
    background-color: #ffffff;
    box-shadow: 0 5px 0 0 #ffffff, 0 -5px 0 0 #ffffff;
  }
}

.navbar-toggle-text {
  padding-top: 4px;
  line-height: 1;
}
.fixed {
  position: fixed;
  top: 0;
  left: 0;
}
