@import 'lib/breakpoint';
@import 'lib/breakpoint-slicer';
@import 'lib/bootstrap';
/* common */
@import "common/mixin";
@import "common/fonts";
@import "common/common";
@import "common/btn";
@import "common/form";
/* blocks */
@import "blocks/main-slider";
@import "blocks/header";
@import "blocks/menu";
@import "blocks/breadcrumbs";
@import "blocks/about-us";
@import "blocks/faq";
@import "blocks/reviews";
@import "blocks/news";
@import "blocks/persona";
@import "blocks/contacts";
@import "blocks/footer";
@import "blocks/motivation";
@import "blocks/live-broadcast";
@import "blocks/gallery";
@import "blocks/article";

@media (min-width: 1200px) {
  .motivation-wrap {
    padding-left: 120px;
    padding-right: 120px;
  }
  .motivation-list li {
    max-width: calc(100% / 3 - 30px);
    flex-basis: calc(100% / 3 - 30px);
  }
}

@media (min-width: 783px) {
  .carousel-gallery, .article-media {
    max-height: 338px;
    max-width: 471px;
    flex-basis: 471px;
  }
}

@media (max-width: 1200px) {
  .motivation-wrap {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 1007px) {
  .page-block {
    padding-left: 7%;
    padding-right: 7%;
    img {
      min-width: 471px;
    }
  }
  .motivation-list {
    justify-content: space-between;
  }
  .gallery-content {
    padding-left: 8%;
    flex-grow: 1;
  }
  .article-content {
    padding-right: 8%;
    flex: 1 1 471px;
  }
}

@media (min-width: 1007px) and (max-width: 1199px) {
  .motivation-list li {
    max-width: calc(100% / 3 - 10px);
    flex-basis: calc(100% / 3 - 10px);
  }
}

@media (max-width: 1006px) {
  .motivation-list {
    flex-direction: column;
    li:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  .live-broadcast-right {
    padding-left: 30px;
  }
  .gallery, .article {
    flex-direction: column;
  }
  .carousel-gallery, .article-media {
    margin-bottom: 80px;
  }
  .gallery-content {
    width: 100%;
  }
  .article-content {
    order: 2;
  }
}

@media (max-width: 782px) {
  .live-broadcast {
    flex-direction: column;
    align-items: center;
  }
  .live-broadcast-left {
    width: 100%;
    padding-top: 0;
    padding-bottom: 50px;
  }
  .live-broadcast-right {
    min-width: 250px;
    padding-left: 0;
  }
}
