<div class="about-us container">
    <h2 class="about-us-title">Уговорим лечиться</h2>

    <div class="about-us-wrap">
        <ul class="about-us-list">
            <li class="about-us-list-point">
                <div class="about-us-list-title">Всегда доступны</div>
                <div class="about-us-list-text">Мы принимаем пациентов круглосуточно.</div>
            </li>
            <li class="about-us-list-point">
                <div class="about-us-list-title">Готовность 100%</div>
                <div class="about-us-list-text">Выезд за пациентами <span class="text-bold text-uppercase">24 часа
                    и 7 дней в неделю!</span></div>
            </li>
            <li class="about-us-list-point">
                <div class="about-us-list-title">Ценим своих клиентов</div>
                <div class="about-us-list-text">Индивидуальный подход к каждому клиенту!</div>
            </li>
            <li class="about-us-list-point">
                <div class="about-us-list-title">Современная клиника</div>
                <div class="about-us-list-text">Индивидуальный подход к каждому клиенту!</div>
            </li>
            <li class="about-us-list-point">
                <div class="about-us-list-title">Не останавливаемся
                    на достигнутом
                </div>
                <div class="about-us-list-text">Направление в реабилитационные центры</div>
            </li>
            <li class="about-us-list-point">
                <div class="about-us-list-title">Раздельное лечение</div>
                <div class="about-us-list-text">Раздельные отделения для алкозависимых и наркозависимых!</div>
            </li>
            <li class="about-us-list-point">
                <div class="about-us-list-title">В больнице и дома</div>
                <div class="about-us-list-text">Стационарное лечение и лечение на дому</div>
            </li>
            <li class="about-us-list-point">
                <div class="about-us-list-title">Поможем каждому</div>
                <div class="about-us-list-text">От палат <span class="text-bold text-uppercase">ЭКОНОМ</span>
                    класса до <span class="text-bold">VIP условий</span></div>
            </li>
        </ul>

        <div class="about-us-media"><img src="img/photo-2.jpg" alt=""></div>
    </div>
</div>
