<div class="advantages container page-block">
    <div class="advantages-media"><img src="img/photo-13.jpg" alt=""></div>

    <div class="advantages-content">
        <div class="block-title"><a href="#">Почему выбирают нас?</a></div>

        <p class="block-text">Во время детоксикации ведется работа психологов и специалистов по химической зависимости.
            Наши врачи-наркологи используют только современные методы наркологической помощи.</p>

        <ul class="list-tick">
            <li>Круглосуточный прием пациентов!</li>
            <li>Новейшие методы лечения!</li>
            <li>Раздельные отделения для алко и наркозависимых!</li>
            <li>Индивидуальный подход к каждому клиенту!</li>
            <li>От палат ЭКОНОМ класса до VIP условий</li>
        </ul>
    </div>
</div>
