<div class="article page-block container">
    <div class="article-content">
        <div class="block-title"><a href="#">Заголовок статьи</a></div>

        <p class="block-text">Комплексное стационарное лечение занимает всего 5 дней при классической детоксикации и 2
            дня при УБОД</p>
        <p class="block-text">Во время детоксикации ведется работа психологов и специалистов по химической зависимости.
            Наши врачи-наркологи используют только современные методы наркологической помощи.</p>

        <a href="#">Читать далее</a>
    </div>

    <div class="article-media">
        <img src="img/photo-12.jpg" alt="">
    </div>
</div>
