<ul class="chronicle">
    <li class="chronicle-post">
        <h3 class="chronicle-title">
            <a href="#">Святая Равноаостольная Нина, Просветительница Грузии</a>
        </h3>
        <div class="chronicle-media">
            <img src="img/img-10.jpg" alt="" class="media-decor">
        </div>

        <div class="chronicle-meta">
            <div class="chronicle-data">
                <svg class="clock">
                    <use xlink:href="img/sprite.svg#clock"></use>
                </svg>
                14.03.2017
            </div>
        </div>

        <p class="chronicle-text">Святая Нина родилась примерно в 280 года в
            Каппадокии в семье знатного рода. Ее отец Завулон
            был знатным вельможей, ему благоволил сам
            правящий император Максимиан. В этой семье было
            несколько знаменитых святых, у Завулона был
            родственник — святой великомученик Георгий
            Победоносец, а сама святая Нина была ему
            двоюродной сестрой.</p>
    </li>

    <li class="chronicle-post">
        <h3 class="chronicle-title">
            <a href="#">Память новомученика Федора (Гусева) в Сидоровском</a>
        </h3>
        <div class="chronicle-media">
            <img src="img/img-11.jpg" alt="" class="media-decor">
        </div>

        <div class="chronicle-meta">
            <div class="chronicle-data">
                <svg class="clock">
                    <use xlink:href="img/sprite.svg#clock"></use>
                </svg>
                01.02.2017
            </div>
        </div>

        <p class="chronicle-text">1 февраля в Никольском храме села Сидоровское
            Одинцовского благочиния и православной
            гимназии "Светоч" прошли мероприятия,
            посвященные памяти новомученика Феодора Гусева.
            Святой был уроженцем и жителем села Сидоровское
            и исполнял обязанности старосты Никольского
            храма. В 1937 г. он был арестован и отправлен
            в исправительно-трудовой лагерь в Амурскую
            область, где и умер 1 февраля 1940 г.
        </p>
    </li>
</ul>

<div class="chronicle-all">
    <a href="#" class="btn btn-grey">Посмотреть всю хронику новостей</a>
</div>
