<div class="contacts container">
    <div class="contacts-info contacts-block">
        © 2008–2017 ООО «ЛИБЕРТАС», г. Москва
        Москва, Загородное шоссе, дом 7, корп. 3
        ОГРН: 5157746005863, ИНН: 7726358007
        Номер лицензии: ЛО-77-01-013122
    </div>

    <div class="contacts-order contacts-block">
        <div class="contacts-block-title">закажите звонок</div>
        <div class="contacts-block-text">Оставьте Ваш контактный телефон и мы Вам перезвоним</div>
        <button class="btn btn-blue">Заказать звонок</button>
    </div>

    <div class="contacts-order contacts-block">
        <div class="contacts-block-title">свяжитесь с нами</div>
        <div class="contacts-block-text">
            <a href="#" class="text-bold">mail@narkologicheskaya-klinika.ru</a>
            <div class="contacts-phone text-bold"><a href="#">+7 (495) 502-23-88</a></div>
        </div>
        <button class="btn btn-blue">Задать вопрос</button>
    </div>
</div>
