<footer class="row">
    <div class="logo-wrap col-md-1">
        <span class="logo">
            <img src="img/hram-logo.svg"
                 alt="Храм Архангела Михаила и всех Небесных Сил Бесплотных в городе Краснознаменск"
                 title="Храм Архангела Михаила и всех Небесных Сил Бесплотных в городе Краснознаменск">
        </span>
    </div>

    <div class="copy col-md-3">
        © 2016 — 2017 hram-kr.ru
    </div>

    <div class="to-top col-md-2">
        <a href="#" class="btn">Наверх</a>
    </div>

    <ul class="footer-menu">
        <li><a href="#">Главная</a></li>
        <li><a href="#">О храме</a></li>
        <li><a href="#">Прихожанам</a></li>
        <li><a href="#">Духовенство</a></li>
        <li><a href="#">Фотогалерея</a></li>
        <li><a href="#">Контакты</a></li>
    </ul>
</footer>

<script src="js/lib.js"></script>
<script src="js/common.js"></script>
