<footer class="container bg-color-full">
    <div class="consultation text-center">
        <div class="consultation-title text-bold">ПОЛУЧИТЕ БЕСПЛАТНУЮ КОНСУЛЬТАЦИОННУЮ ПОМОЩЬ</div>

        <form action="#" class="consultation-form">
            <div class="form-group">
                <input type="text" class="form-control hide-placeholder" placeholder="Ваше имя">
            </div>
            <div class="form-group">
                <input type="text" class="form-control hide-placeholder" placeholder="Ваше номер телефона">
            </div>

            <button class="btn btn-blue-light">Отправить</button>
        </form>
    </div>

    <div class="footer-bottom">
        <div class="footer-bottom-left">
            <span class="footer-bottom-text text-uppercase">круглосуточно. бесплатно. анонимно</span>
            <span class="copy">© 2017 ПС Клиника</span>
        </div>

        <ul class="socials list-unstyled">
            <li><a href="#" rel="nofollow" target="_blank" class="sprite sprite-fb">facebook</a></li>
            <li><a href="#" rel="nofollow" target="_blank" class="sprite sprite-tw">twitter</a></li>
            <li><a href="#" rel="nofollow" target="_blank" class="sprite sprite-yt">youtube</a></li>
            <li><a href="#" rel="nofollow" target="_blank" class="sprite sprite-vk">vkontacte</a></li>
        </ul>
    </div>
</footer>
