<div class="gallery container bg-color-full">
    <div class="carousel-gallery">
        <div>
            <img src="img/photo-11.jpg" alt="">
        </div>

        <div>
            <img src="img/photo-12.jpg" alt="">
        </div>

        <div>
            <img src="img/photo-11.jpg" alt="">
        </div>
    </div>

    <div class="gallery-content">
        <div class="block-title"><a href="#">Фотогалерея</a></div>

        <div class="block-text">Здесь какой-нибудь текст о клинике. Интервенция пациентов - мотивация на лечение в наркологической клинике
            и реабилитацию в центре Безболезненная детоксикация при наркомании и алкоголизме в виде классической схемы 5
            суток (при тяжелых формах 7-10 суток) УБОД (ультрабыстрая опиоидная детоксикация) 1-3 суток (ускоренный курс
            6-8 часов)
        </div>
    </div>
</div>
