<header class="container-fluid">
    <a href="#" class="logo"><img src="img/logo.jpg" alt="ПС клиника"></a>

    <div class="header-support">
        <img src="img/free-consultations.png" alt="Бесплатная консультация">

        <div class="header-support-info">
            <img src="img/24-7.png" alt="24/7">

            <div class="text-right">
                <a href="tel:+74995022388" class="header-support-phone text-bold">+7 (499) 502-23-88</a>

                <div class="header-support-orders">
                    <span class="support-orders-item as-link" data-toggle="modal"
                          data-target="#requestCall">заказать звонок</span>
                    <span class="support-orders-item as-link" data-toggle="modal"
                          data-target="#askQuestion">задать вопрос</span>
                </div>
            </div>
        </div>
    </div>
</header>
