<div class="information">
    <div class="information-block information-top media-decor" style="background: url(img/img.jpg) no-repeat center;">
        ﻿<h2 class="information-title">История нашего храма</h2>

        <a href="#" class="btn btn-orange">Подробности</a>
    </div>

    <div class="information-block information-top media-decor" style="background: url(img/img-2.jpg) no-repeat center;">
        ﻿<h2 class="information-title">﻿Праздник Пасхи</h2>
    </div>

    <div class="information-block information-bottom media-decor" style="background: url(img/img-3.jpg) no-repeat center;">
        ﻿<h2 class="information-title">﻿Храм выполнен в <br> Византийском стиле</h2>
    </div>

    <div class="information-block stand">
        <div class="stand-candle media-decor">
            <svg class="candle">
                <use xlink:href="img/sprite.svg#candle"></use>
            </svg>
            <span class="candle-text">253</span>
        </div>

        <div class="info-stand">
            <ul class="info-stand-sections list-unstyled">
                <li class="media-decor" style="background: url(img/img-4.jpg) no-repeat center;">
                    <a href="#" class="information-title">﻿Задать вопрос священику</a>
                </li>
                <li class="media-decor" style="background: url(img/img-5.jpg) no-repeat center;">
                    <a href="#" class="information-title">﻿Подать записку</a>
                </li>
            </ul>

            <div class="vk-count">
                <img src="img/img.png" alt="">

                <div class="vk-count-content">
                    <a href="#" class="vk-count-title" target="_blank">Официальная страница храма Архангела Михаила</a>

                    <div class="vk-count-text">Открытая группа ВКонтакте</div>

                    <div class="vk-count-text">459 участников</div>
                </div>
            </div>
        </div>
    </div>
</div>
