<div class="live-broadcast container">
    <div class="live-broadcast-left">
        <div class="live-broadcast-title"><a href="#">Прямой Эфир: откровение Стаса Пьехи</a></div>

        <div class="live-broadcast-text">
            Наверное, впервые хочу поблагодарить программу "Прямой эфир" на России 1. За важнейшую тему и честную подачу
            материала, за верные установки и развенчивание абсурдных мифов и за правильный призыв!
        </div>

        <div class="live-broadcast-date">23.05.2017</div>
    </div>

    <div class="live-broadcast-right">
        <img src="img/persona.jpg" alt="">
    </div>
</div>
