<div class="main-slider container-fluid">
    <div class="single-item">
        <div>
            <img src="img/photo.jpg" alt="">
            <div class="main-slider-content">
                <div class="main-slider-title">Бесплатная консультация нарколога</div>

                <p class="main-slider-text">Не откладывайте проблему. Запишитесь сейчас</p>

                <button class="btn btn-blue">задать вопрос</button>
            </div>
        </div>

        <div>
            <img src="img/photo9.jpg" alt="">
            <div class="main-slider-content">
                <div class="main-slider-title">Бесплатная консультация нарколога</div>

                <p class="main-slider-text">Не откладывайте проблему. Запишитесь сейчас</p>

                <button class="btn btn-blue">задать вопрос</button>
            </div>
        </div>

        <div>
            <img src="img/photo10.jpg" alt="">
            <div class="main-slider-content">
                <div class="main-slider-title">Бесплатная консультация нарколога</div>

                <p class="main-slider-text">Не откладывайте проблему. Запишитесь сейчас</p>

                <button class="btn btn-blue">задать вопрос</button>
            </div>
        </div>
    </div>
</div>
