<!-- Modal requestCall -->
<div class="modal fade" id="requestCall" tabindex="-1" role="dialog" aria-labelledby="requestCallLabel">
    <div class="modal-dialog" role="document">
        <form action="#" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="requestCallLabel">Заказать звонок</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="text" class="form-control hide-placeholder" placeholder="Ваше имя">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control hide-placeholder" placeholder="Ваш номер телефона">
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-blue">Отправить</button>
            </div>
        </form>
    </div>
</div>

<!-- Modal askQuestion -->
<div class="modal fade" id="askQuestion" tabindex="-1" role="dialog" aria-labelledby="askQuestionLabel">
    <div class="modal-dialog" role="document">
        <form action="#" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="askQuestionLabel">Задать вопрос</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="text" class="form-control hide-placeholder" placeholder="Ваше имя">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control hide-placeholder" placeholder="Ваш номер телефона">
                </div>
                <div class="form-group">
                    <textarea class="form-control hide-placeholder" placeholder="Ваш вопрос" rows="5"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-blue">Отправить</button>
            </div>
        </form>
    </div>
</div>
