<div class="motivation container bg-color-full">
    <div class="motivation-wrap">
        <h2 class="motivation-title">Уговорим лечиться</h2>

        <p class="motivation-text text-blue-light">Наш телефон работает круглосуточно, бесплатно и анонимно</p>

        <ul class="motivation-list">
            <li class="sprite-case">
                Полный стационар от <span class="text-bold">6000 Р/сутки</span>
            </li>
            <li class="sprite-car">
                Круглосуточно
                <div class="motivation-big-text text-blue-light">7 (495) 654-67-33</div>
            </li>
            <li class="sprite-med">
                Лицензированная клиника
                <div class="motivation-small-text text-blue-light">Текст о лицензиях и сертификатах</div>
            </li>
        </ul>
    </div>
</div>
