<div class="news container">
    <div class="news-item">
        <div class="news-item-title">Прямой Эфир:<br> откровение Стаса Пьехи</div>

        <div class="news-media"><img src="img/photo-6.jpg" alt=""></div>

        <div class="news-item-text">
            Наверное, впервые хочу поблагодарить программу "Прямой эфир" на России 1. За важнейшую тему и честную
            подачу материала
        </div>
        <a href="#" class="news-item-link">Узнать больше</a>
    </div>
    <div class="news-item">
        <div class="news-item-title">Прямой Эфир:<br> откровение Стаса Пьехи</div>

        <div class="news-media"><img src="img/photo-7.jpg" alt=""></div>

        <div class="news-item-text">
            Наверное, впервые хочу поблагодарить программу "Прямой эфир" на России 1. За важнейшую тему и честную
            подачу материала
        </div>
        <a href="#" class="news-item-link">Узнать больше</a>
    </div>
    <div class="news-item">
        <div class="news-item-title">Прямой Эфир:<br> откровение Стаса Пьехи</div>

        <div class="news-media"><img src="img/photo-8.jpg" alt=""></div>

        <div class="news-item-text">
            Наверное, впервые хочу поблагодарить программу "Прямой эфир" на России 1. За важнейшую тему и честную
            подачу материала
        </div>
        <a href="#" class="news-item-link">Узнать больше</a>
    </div>
</div>
