<div class="persona">
    <div class="container">
        <div class="persona-content">
            <div class="persona-title">Лечение наркомании и алкоголизма в Москве</div>

            <blockquote class="persona-text">
                Вы оговариваете время приезда наших специалистов. Наши специалисты находят способ взаимодействия с
                больным и в доступной форме доносят до его сознания реальную правду его положения. Практика
                показывает что интервенция – самый эффективный метод убеждения наркозависимого начать лечение.
            </blockquote>

            <img src="img/stas-piaha.png" alt="">
            <img src="img/signature.png" alt="" class="persona-signature">
        </div>
    </div>
</div>
