<div class="reviews container bg-color-full">
    <div class="reviews-item">
        <div class="reviews-text">
            Увы, это могут не многие. Всем, кто столкнулся с такой проблемой, я советую обращаться всегда и сразу в
            центры под эгидой Фонда «Здоровая Страна», только там Вам смогут оказать квалифицированную помощь!
        </div>
        <div class="reviews-user">
            <div class="reviews-avatar">
                <span class="reviews-avatar-default text-bold text-uppercase">ПС</span>
            </div>
            <a href="#" class="reviews-user-name">Наталья, 47 лет</a>
        </div>
    </div>

    <div class="reviews-item">
        <div class="reviews-text">
            В бокале я топила все свои беды, как я считала. Однажды он привел домой несколько человек, которые со
            мной начали разговор о моём образе жизни. После беседы с ними я поняла всю острую необходимость лечения.
        </div>
        <div class="reviews-user">
            <div class="reviews-avatar">
                <img src="img/photo-4.jpg" alt="">
                <span class="reviews-avatar-default text-bold text-uppercase">ПС</span>
            </div>
            <a href="#" class="reviews-user-name">Кристина, 25 лет</a>
        </div>
    </div>

    <div class="reviews-item">
        <div class="reviews-text">
            Смог вылечиться от алкоголизма. Не прибегая к методике кодировки. Грамотные психологи помогли мне
            преодолеть алкогольную зависимость.
        </div>
        <div class="reviews-user">
            <div class="reviews-avatar">
                <img src="img/photo-5.jpg" alt="">
                <span class="reviews-avatar-default text-bold text-uppercase">ПС</span>
            </div>
            <a href="#" class="reviews-user-name">Владимир Трифонов</a>
        </div>
    </div>
</div>
