<div class="sidebar-block">
    <h4 class="sidebar-title">Православный календарь</h4>

    <div class="sidebar-content">
        <img src="img/img-6.jpg" alt="" class="sidebar-media media-decor">

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit</p>

        <div>3 февраля 2017 г. (21 января ст. ст.)</div>
    </div>
</div>

<div class="sidebar-block photo-album">
    <h4 class="sidebar-title">Фотоальбомы</h4>

    <div class="sidebar-content">
        <img src="img/img-7.jpg" alt="" class="media-decor">

        <p>Рождественские елки 2017 <br> в детских садах Краснознаменска</p>

        <a href="#" class="btn btn-orange">Посмотреть все фото</a>
    </div>
</div>

<div class="sidebar-block video-recording">
    <h4 class="sidebar-title">Видеозаписи</h4>

    <div class="sidebar-content">
        <img src="img/img-8.jpg" alt="" class="media-decor">

        <p>Престольный праздник в <br>
            Михаило-Архангельском храме <br>
            Краснознаменска</p>

        <img src="img/img-9.jpg" alt="" class="media-decor">

        <p>Уроки истории 1917-2017</p>

        <a href="#" class="btn btn-orange">Посмотреть все видеозаписи</a>
    </div>
</div>
