@font-face {
  font-family: 'Geometria-Medium';
  src: url('../fonts/Geometria-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Geometria-Medium.otf') format('opentype'),
  url('../fonts/Geometria-Medium.woff') format('woff'), url('../fonts/Geometria-Medium.ttf') format('truetype'), url('../fonts/Geometria-Medium.svg#Geometria-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria-Bold';
  src: url('../fonts/Geometria-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Geometria-Bold.otf') format('opentype'),
  url('../fonts/Geometria-Bold.woff') format('woff'), url('../fonts/Geometria-Bold.ttf') format('truetype'), url('../fonts/Geometria-Bold.svg#Geometria-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria-MediumItalic';
  src: url('../fonts/Geometria-MediumItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Geometria-MediumItalic.otf') format('opentype'),
  url('../fonts/Geometria-MediumItalic.woff') format('woff'), url('../fonts/Geometria-MediumItalic.ttf') format('truetype'), url('../fonts/Geometria-MediumItalic.svg#Geometria-MediumItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}