@import "mixin";

.hide-placeholder {
  @include hidePlaceholder {
    opacity: 1;
    color: #888;
    font-size: 16px;
    transition: opacity 0.3s ease;
    @include GeometriaMedium;
  }
  &:focus {
    @include hidePlaceholder {
      opacity: 0;
      transition: opacity 0.3s ease;
    }
  }
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  height: 50px;
  padding: 0 24px;
  border: 1px solid #e5e5e5;
  font-size: 16px;
  display: block;
  border-radius: 25px;
  background-color: #fff;
  color: #333;
  transition: all .3s ease;
  font-weight: 400;

  &:focus, &:active {
    border-color: #6ba0b2;
  }
}

textarea.form-control {
  height: 188px;
  padding-top: 24px;
  resize: none;
  overflow: hidden;
}
